*{
    margin: 0;
    padding: 0;
}

body{
    background: #000500;
}

.galery{
    width: 100%;

}

.galery img{
    vertical-align: top;
    width: 250px;
    height: 200px;
    margin: 20px;
    padding: 5px;
    border: 1px solid #484848;
    opacity: 0.5;

}

.galery img:hover{
    border: 1px solid #ffffff;
    opacity: 1;
}